@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,300&display=swap');

body {
  background-color: black;
  color: white;
  font-family: 'Montserrat', sans-serif;
}



#logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2em;
  margin-bottom: 2em;
}


#logo {
  height: 200px;
  display: block;
}

#name {
    height: 200px;
    margin-top: -4em;
  }

p {
  text-align: center;
}

.container {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#footer {
  position: fixed;
  bottom: 0px;
  text-align: center;
  width: 100%;
  font-size: 0.7em;
  margin-bottom: 1em;
  font-style: italic;
}

.update-notice {
    font-size: 1.5rem;
    text-align: center;
    margin: 0 1.5em 0 1.5em;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5em;
  font-size: 1.2rem;
  text-align: center;
}

.social-icon-container {
  justify-content: center;
  align-items: center;
}

.icon {
  padding: 20px 0 0 10px;

}

a {
    text-decoration: none;
}


@media (orientation: landscape) and (max-width: 900px)  {
    #logo-container {
        margin-top: 3em;
        flex-direction: row;
    }
    #logo {
        height: 20vw;
        padding: 0;
        margin: 0;
    }
    #name {
        height: 20vw;
        margin: 0 0 0 -4vw;
        padding: 0;
      }
    .icon {
        height: 5vw;
        margin-bottom: 1em;
        padding-bottom: 1em;
    }
}